 <mat-list flex>
    <app-todo
      *ngFor="let todoEl of todos"
      [todo]="todoEl"></app-todo>
    <div id="empty" *ngIf="isEmpty">
      <span class="emptyMsg">Add something to get started.</span>
    </div>
  </mat-list>
