mat-list {
  min-width: 320px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10em;
  padding-bottom: 32px;
  overflow-y: scroll;
  background-color: #FFF;
}
div#empty {
  display: flex;
  width: 100%;
  position: fixed;
  top: 60vh;
  padding: 0;
  z-index: 0;
}
span.emptyMsg {
  margin: auto;
  font-weight: 300;
}
@media only screen and (min-width : 321px), only screen and (max-width : 736px) and (orientation: landscape) {
  .myapp {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width : 737px) {
  mat-list {
    height: 57vh;
    width: 100%;
    margin-top: 10px;
    padding: 0;
    position: inherit;
  }
  div#empty {
    display: flex;
    width: 100%;
    height: 100%;
    position: inherit;
  }
}
