.heading {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4em;
  background-color: #3f51b5;
  padding-bottom: 10px;
}
p.title {
  font-family: Helvetica neue;
  font-weight: 100;
  font-size: 3em;
  color: #FFF;
  text-align: left;
  padding-left: 8px;
  margin-top: 0;
  margin-bottom: -5px;
  display: inherit;
}
span.day {
  font-family: Helvetica neue;
  font-size: 1em;
  font-weight: 100;
  color: #FFF;
  padding-left: 0.5em;
}
@media only screen and (min-width : 737px) {
  .heading {
    position: static;
  }
  .myapp {
    width: 100%;
    min-width: 504px;
    margin: 1em auto;
    margin-bottom: 0;
  }
}
