div.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  min-width: 320px;
  width: 100%;
  height: 44px;
  background-color: #FFF;
  justify-content: center;
}
div.footer button {
  line-height: 18px;
  font-size: 18px;
  border-radius: 0px;
}
#menu-icon {
  display: table;
  font-size: 2.8em;
  margin: 0px auto;
}
#remAllbtn {
  color: #FF0000;
}
ul {
  display: none;
}
.opened {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #FFF;
  margin: 0;
  border: 1px solid #EFEFEF;
  border-radius: 3px;
  padding: 0;
  z-index: 1;
  list-style-type: none;
}
.footer-button {
  width: 100%;
  padding: 5px;
  font-size: 1.3em;
  font-weight: 300;
}
button.filteredBy {
  background-color: #C5CAE8;
}

@media only screen and (min-width : 321px), only screen and (max-width : 736px) and (orientation: landscape) {
  .myapp {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width : 737px) {
  div#empty {
    display: flex;
    width: 100%;
    height: 100%;
    position: inherit;
  }
  div.footer {
    display: flex;
    justify-content: center;
    position: inherit;
    line-height: 24px;
    height: 30px;
    width: 100%;
  }
  #cancelBtn {
    display: none;
  }
  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 4px 0;
    max-width: 100%;
  }
  #menu-icon {
    display: none;
  }
  .footer-button {
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    width: 126px;
  }
  button.filteredBy {
    padding-bottom: 2px;
    border-bottom: 4px solid #3f51b5;
    background-color: #FFF;
  }
}
