<div class="footer">
  <md-icon
    id="menu-icon"
    (click)="toggleMenu()"
    class="material-icons">menu
  </md-icon>
  <ul id="footer-buttons">
   <li>
     <button
       class="footer-button"
       (click)="onListAll()"
       [ngClass]="{'filteredBy': todoView === 'all'}"
       mat-button>All ({{ info[0] }})
     </button>
   </li>
   <li>
     <button
       class="footer-button"
       (click)="onListCompleted()"
       [ngClass]="{'filteredBy': todoView === 'completed'}"
       [disabled]="(info[1] === 0 || !info[1])"
       mat-button>Completed ({{ info[1] }})
     </button>
   </li>
    <li>
     <button
       class="footer-button"
       (click)="onListRemaining()"
       [ngClass]="{'filteredBy': todoView === 'remaining'}"
       [disabled]="(info[2] === 0 || !info[2])"
       mat-button>Remaining ({{ info[2] }})
     </button>
   </li>
   <li>
     <button
       id="remAllbtn"
       class="footer-button"
       mat-button
       [disabled]="!info[0]"
       (click)="onRemoveAll()">Remove all
     </button>
   </li>
   <li>
     <button
       id="cancelBtn"
       class="footer-button"
       mat-button>Cancel
     </button>
   </li>
  </ul>
</div>
