<form (ngSubmit)="onSubmit()" #f="ngForm">
    <mat-form-field>
      <input
        #input
        matInput
        type="text"
        name="toDo"
        id="toDo"
        class="inputField"
        placeholder="Enter todo"
        style="font-weight:100;"
        required
        pattern="^.*[^\s]+.*$"
        ngModel>
    </mat-form-field>
    <div id="addDiv">
      <button
        id="add-button"
        mat-fab
        color="primary"
        [disabled]="!f.valid"
        type="submit">Add
      </button>
    </div>
  </form>
