form {
  display: flex;
  position: fixed;
  top: 2.9em;
  background-color: #FFF;
  font-size: 1.6em;
  width: 100%;
  min-width: 320px;
  z-index: 1;
}
form > * {
  margin-left: 1em;
}
mat-form-field {
  flex-grow: 1;
}
#addDiv {
  margin-top: 15px;
  padding-bottom: 20px;
}
#add-button {
  font-size: 1em;
  margin-right: 10px;
}
@media only screen and (min-width : 321px), only screen and (max-width : 736px) and (orientation: landscape) {
  .myapp {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width : 737px) {
  form {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: -25px;
    font-size: 20px;
    position: inherit;
  }
  form > *:not(:last-child) {
    margin: 0 0.3em 0 0.3em;
  }
  #addDiv {
    margin: 0 0.2em 0 0;
  }
  #add-button {
    margin: 0;
  }
}
