<app-header></app-header>
<div class="myapp">
  <div class="body">
    <app-form></app-form>
    <app-todo-list></app-todo-list>
    <app-footer></app-footer>
  </div>
  <div class="info">
    <p class="p-info">Todos app created by <strong><a href="https://bitbucket.org/fullas/">Laszlo Fulop</a></strong></p>
    <p><a href="https://angular.io/">Angular4</a></p>
  </div>
</div>
