.info {
  display: none;
}

@media only screen and (min-width : 321px), only screen and (max-width : 736px) and (orientation: landscape) {
  .myapp {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width : 737px) {
  .myapp {
    width: 100%;
    min-width: 504px;
    margin: 1em auto;
    margin-bottom: 0;
  }
  .body {
    background-color: white;
    box-shadow: 4px 4px 20px 0px grey;
    margin: auto;
  }
  .info {
    display: block;
    text-align: center;
    font-size: 12px;
    color: darkgray;
    margin-top: 3em;
  }
  a:visited, a:link {
    text-decoration: none;
    color: darkgray;
  }
  a:hover, a:active {
    text-decoration: underline;
    color: darkgray;
  }
}
@media only screen and (min-width : 1024px) {
  .myapp {
    min-width: 1024px;
    max-width: 80%;
  }
}
