mat-list-item {
  min-height: 20px;
  border-bottom: 1px solid #EFEFEF;
}
mat-list-item.completed p.name {
  color: gray;
  text-decoration: line-through;
}
mat-list-item p.name {
  font-weight: 300;
  font-size: 1.4em;
}
p.date {
  color: lightslategray;
}
mat-checkbox {
  float: left;
  margin-top: -10px;
}
md-icon {
  cursor: pointer;
}
@media only screen and (min-width : 321px), only screen and (max-width : 736px) and (orientation: landscape) {
  .myapp {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (min-width : 737px) {
  mat-list-item p.name {
    font-weight: 300;
    font-size: 1.2em;
  }
  md-icon {
    visibility: hidden;
  }
  mat-list-item:hover md-icon {
    visibility: initial;
  }
}
