<mat-list-item
  [ngClass]="{'completed': todo.checked}">
  <mat-checkbox
    mat-list-icon
    color="primary"
    (click)="onCheck(todo)"
    [(ngModel)]="todo.checked">
  </mat-checkbox>
  <p class="name" title="{{todo.name}}" mat-line>{{ todo.name }}</p>
  <p class="date" style="font-weight:300;" mat-line>{{ todo.date | date: 'HH:mm dd. MMM. yy' }}</p>
  <md-icon class="material-icons" (click)="onDelete(todo)">close</md-icon>
</mat-list-item>
